<a href="https://colab.research.google.com/github/johyunkang/python_stat/blob/main/chapter02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
import numpy as np

scores1 = list([42, 69, 56, 41, 57, 48, 65, 49, 65, 58, np.nan])
scores2 = list([42, 69, 56, 41, 57, 48, 65, 49, 65, 58])
print('scores type:', type(scores1))
index_name1 = list('ABCDEFGHIJK')
index_name2 = list('ABCDEFGHIJ')
print('index_name type:', type(index_name1))
df1 = pd.DataFrame(data=scores1, index=index_name1, columns=['score'])
df2 = pd.DataFrame(data=scores2, index=index_name2, columns=['score'])
display(df1)

scores type: <class 'list'>
index_name type: <class 'list'>

   score
A   42.0
B   69.0
C   56.0
D   41.0
E   57.0
F   48.0
G   65.0
H   49.0
I   65.0
J   58.0
K    NaN

In [21]:
display(df1.isnull().sum())
display(df2.isnull().sum())

display(df1.describe())
display(df2.describe())

score    1
dtype: int64

score    0
dtype: int64

           score
count  10.000000
mean   55.000000
std     9.775252
min    41.000000
25%    48.250000
50%    56.500000
75%    63.250000
max    69.000000

           score
count  10.000000
mean   55.000000
std     9.775252
min    41.000000
25%    48.250000
50%    56.500000
75%    63.250000
max    69.000000

In [30]:
z = 50 + 10 * (df.score - df.score.mean()) / np.std(df.score)
print(z)
df1['deviation value'] = z
df1['score_deviation'] = df1.score - df1.score.mean()
df1['score_mean'] = df1.score.mean()
display(df1)

A    35.981739
B    65.096588
C    51.078328
D    34.903412
E    52.156655
F    42.451706
G    60.783277
H    43.530034
I    60.783277
J    53.234983
K          NaN
Name: score, dtype: float64

   score  deviation value  score_deviation  score_mean
A   42.0        35.981739            -13.0        55.0
B   69.0        65.096588             14.0        55.0
C   56.0        51.078328              1.0        55.0
D   41.0        34.903412            -14.0        55.0
E   57.0        52.156655              2.0        55.0
F   48.0        42.451706             -7.0        55.0
G   65.0        60.783277             10.0        55.0
H   49.0        43.530034             -6.0        55.0
I   65.0        60.783277             10.0        55.0
J   58.0        53.234983              3.0        55.0
K    NaN              NaN              NaN        55.0